// a powerful thing about mixins is they can be added anywhere but can be overrided
@mixin base-btn{
    cursor: pointer;
    height: 42px;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all .5s ease-in-out;
    background-color: white;
    color:rgb(156, 156, 156);

    &:active, &:focus{
        outline: none;
    }
    &:hover{
        background-color:$light-grey;
    }
}